<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Expedientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="shade">
    <ion-card-header>
      <ion-card-subtitle>
        En esta sección podras visualizar tus expedientes, para esto solicita a tu medico que cree uno, puedes
        visualizar el historial de IMC de la calculadora, para esto calcula tu IMC.
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="user?.type === 'PACIENTE'" color="warning">
    <!--MOSTRAR X RUT-->
    <ion-card-title class="ion-text-center"> Resultados IMC</ion-card-title>
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col>Primer IMC</ion-col>
        <ion-col>Ultimo IMC</ion-col>
      </ion-row>
      <ion-row>
        <ion-col> {{(imcHistorial | imcFilter: 'first')?.imc || 'No tiene'}} </ion-col> <!--Agregar los IMC-->
        <ion-col> {{(imcHistorial | imcFilter: 'last')?.imc || 'No tiene' }} </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ng-container *ngIf="user?.type === 'PACIENTE'">
  <ion-accordion-group expand="inset" *ngFor="let expediente of expedientes">
    <ion-accordion>
      <ion-item slot="header" color="primary">
        <ion-label>{{ expediente.medico.especiality }}</ion-label>
        <ion-label>{{ expediente.medico.name }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Fecha: {{ expediente.createdAt | date: 'dd/MM/yyyy'}}</div>
      <div class="ion-padding" slot="content">Teléfono: {{ expediente.medico.phone }}</div>
      <div class="ion-padding" slot="content">{{ expediente.description }}</div>
    </ion-accordion>
  </ion-accordion-group>
  </ng-container>

  <ng-container *ngIf="user?.type === 'MEDICO'">
    <ion-accordion-group expand="inset" *ngFor="let expediente of expedientes">
      <ion-accordion>
        <ion-item slot="header" color="primary">
          <ion-label>{{ expediente.paciente.rut }}</ion-label>
          <ion-label>{{ expediente.paciente.name }}</ion-label>
          <ion-label></ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Fecha: {{ expediente.createdAt | date: 'dd/MM/yyyy'}}</div>
        <div class="ion-padding" slot="content">Teléfono {{ expediente.paciente.phone }}</div>
          <div class="ion-padding" slot="content">{{ expediente.description }}</div>
          
      </ion-accordion>
    </ion-accordion-group>
    </ng-container>

</ion-content>